%h1 Student Login

= form_tag student_login_create_path, :method => :post, :id => 'login' do

  %br
  = label :session, :student_username, 'User-ID'
  = text_field :session, 'student_username'

  = label :session, :student_password, 'Password'
  = password_field :session, 'student_password'
  %br
    %br
  =submit_tag "Login as Student", :id => 'login'
